.card {
    width: 400px;
    height : 600px;
    background-color: #001D3D;
    border-radius: 20px;
    overflow: hidden;
    
}


.card img {
    width: 100%;
    height:200px
}


.card .info {
    width : 100%;
    padding : 20px 20px;

}
.info p{
    color : white;
    font-size : 20px;
    margin-top: 10px;
   
}


p > img {
    height: 50px;
    width: 50px;
    
}
